<div class="row">
  <div class="col-6">
    <form>
      <div class="mb-3">
        <label for="bookName" class="form-label">Book Name</label>
        <input type="text" [(ngModel)]="bookName" name="bookName" class="form-control" id="bookName" >
      </div>
      <div class="mb-3">
        <label for="authorName" class="form-label">Author Name</label>
        <input [(ngModel)]="authorName" class="form-control" name="authorName" id="authorName">
      </div>
      <div class="mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input [(ngModel)]="isbn" class="form-control" name="isbn" id="isbn">
      </div>
      <div class="btn-group">
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary" (click)="addBook()">Add Book</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
